@model ContosoFSR.Models.Site

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Site</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Latitude" class="control-label"></label>
                <input asp-for="Latitude" class="form-control" />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longitude" class="control-label"></label>
                <input asp-for="Longitude" class="form-control" />
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="EmergencyPower" /> @Html.DisplayNameFor(model => model.EmergencyPower)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Generator" class="control-label"></label>
                <select asp-for="Generator" asp-items="Html.GetEnumSelectList<Generator>()" class="form-control">
                    <option value=""></option>
                </select>
                <span asp-validation-for="Generator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Programs" class="control-label"></label>
                <select asp-for="Programs" asp-items="Html.GetEnumSelectList<Programs>()" class="form-control">
                    <option value=""></option>
                </select>
                <span asp-validation-for="Programs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            
                <a asp-action="Index" class="btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
