@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Contoso Field Services Tool</h1>
    <h3 class="text-center">NO ITAR DATA ALLOWED - DUMMY DATA ONLY</h3>
    <h4 class="text-center">Please read the security statement below</h4>
</div>

<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Security Statment</button>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Security Statement</h4>
            </div>
            <div class="modal-body">
                <p>At the present moment, this site is unsecure. This is very much a proof of concept application right now.</p>
                <p>There is no SSL Certificate issued to the site, anyone with the know-how can watch users navigate the site and watch for passwords and user names.</p>
                <p>This means <b>DO NOT USE</b> a real email address, a real password, any real identifiable information on the site.</p>
                <p>Once the site is issued a SSL Certificate it will be okay to start using those things.</p>
                <p>Later versions will incorporate Single Sign On. You wont have to register or login.</p>
                <p>Thank you for any feedback you have in regards to making this tool your favorite.</p>                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Acknowledge</button>
            </div>
        </div>
    </div>
</div>
    
<div class="row">
    <div class="col-md-5 ">
        <h2>Overview</h2>
        <ul>
            <li>Quickly Find site information such as Point of Contact, Lock Combinations and Geographical Location</li>
            <li>Track Expense Report information for the year. How much have you earned this year?</li>
            <li>NYI - Field Service Advisories! Quickly view troubleshooting tasks or proccess to ensure you are prepared for that next site visit!</li>
        </ul>
    </div>
    <div class="col-md-5 col-md-offset-1">
        <h2><a href="#">How tos - NYI</a></h2>
        <ul>
            <li><a href="#">NYI - View Site Information</a></li>
            <li><a href="#">NYI - Manage Expense Reports</a></li>
            <li><a href="#">NYI - Create a map to a site</a></li>
            <li><a href="#">NYI - Generate a Truck stock form</a></li>
            <li><a href="#">NYI - View a Field Service Advisory</a></li>            
        </ul>
    </div>    
</div>
